.companies{

	.item{

		&.cabecera{
			@include flexbox();
			align-items: center;
    		justify-content: flex-start;
		}
		img{
			width: 40px;
			margin-right: 10px;
		}

		h3{
			margin-bottom: 0;
		}
	}
	
}