.companies{

	.item{

		&.cabecera{
			@include flexbox();
			@include flex-align(center);
			@include flex-justify(flex-start);
		}
		img{
			width: 40px;
			margin-right: 10px;
		}

		h3{
			margin-bottom: 0;
		}
	}
	
}