.dashboard{

	p{
		text-align: center;
	}

	.list.card.pick{

		.item-divider{
			@include flexbox();
			@include flex-align(center);
			@include flex-justify(flex-start);

			.icon{
				margin-right: 10px;
			}

			h3{
				margin-bottom: 0;
			}
		}

		p{
			text-align: left;
		}
	}

	.list.card.promotion{
		@include flexbox();
		height: 100px;

		.item.left{
			flex: 1;
			padding: 0;
			background-size: cover;
    		background-position: bottom center;
		}

		.item.right{
			flex: 1;
			background-color: #a62222;

			h3{
				color: #FFF;
				font-size: 14px;
			}

			p{
				color: #FFF;
				font-size: 12px;
				font-weight: 100;
				white-space: pre-line;
    			text-align: left;
			}
		}
	}


}