.newPick{

	strong{
		font-weight: 600;
	}

	.datos{
		margin-top: 10px;
		
		span.strong{
			text-transform: uppercase;
		}
	}
	.list .button{
		border-color: #05564B;
	    border: 2px solid;
	    background-color: transparent;
	    color: #000;
	}
}