<ion-header-bar class="bar-light bar-subheader search-bar">

  <div class="bar bar-header item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input id="searchText" type="search" placeholder="Búsqueda..." ng-model="searchText" >
    </label>
    <button class="button button-clear" ng-click="openModal()">
      Opciones
    </button>
  </div>
  
  <ion-scroll direction="x" class="wide-as-needed">
    
    <div class="tags">
      <div class="categories" ng-click="openCategories()">
        <span ng-if='!data.selCategory'>Categoría</span>
        <span ng-if="data.selCategory != ''">{{data.selCategory.name}}</span>
        <i class="icon ion-android-arrow-dropdown placeholder-icon"></i>
      </div>

      <div class="locations" ng-click="openLocation()">
        <span ng-if='city == "" && country == ""'>Localización</span>
        <span ng-if='city != ""'>{{city}}</span>
        <span ng-if='city != "" && country != ""'>-</span>
        <span ng-if='country != ""'>{{country}}</span>
        <i class="icon ion-android-arrow-dropdown placeholder-icon"></i>
      </div>

      <div class="dateFrom" ng-click="openDates('from')">
        <span class="dates" ng-if='dateFrom == ""'>Fecha desde</span>
        <span class="dates" ng-if='dateFrom != ""'>{{dateFrom | date:'dd MMMM yyyy HH:mm'}}</span>
        <i class="icon ion-android-arrow-dropdown placeholder-icon"></i>
      </div>

      <div class="dateTo" ng-click="openDates('to')">
        <span class="dates" ng-if='dateTo == ""'>Fecha hasta</span>
        <span class="dates" ng-if='dateTo != ""'>{{dateTo | date:'dd MMMM yyyy HH:mm'}}</span>
        <i class="icon ion-android-arrow-dropdown placeholder-icon"></i>
      </div>
    </div>
  </ion-scroll>
  
</ion-header-bar>


<ion-pane class="search-tabs">
  <ion-tabs class="tabs-icon-only">
    <ion-tab title="Servicios" ui-sref="app.search.services">
      <ion-nav-view name="search_services"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Empresas"  ui-sref="app.search.companies">
      <ion-nav-view name="search_companies"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Sugerencias" ui-sref="app.search.prepicks">
      <ion-nav-view name="search_prepicks"></ion-nav-view>
    </ion-tab>
  </ion-tabs>  
</ion-pane>

