<ion-view view-title="Login" name="login-view">

  <div class="login">
  <div class="overlay">

  <ion-content class="padding">
    <form ng-submit="login()">
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Username" ng-model="user.email">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="user.password">
            </label>
        </div>
        <button type="submit" class="button button-block button-positive">Login</button>
    </form>

    <button class="button button-block button-positive" ng-click="fbLogin()">
    Login with Facebook
    </button>


  </ion-content>

  </div>
  </div>

</ion-view>