 <!--
 <ion-modal-view class="ion-nifty-modal">
    <div class="ion-modal-content-custom">
      <ion-content class="padding">
      	<h3>Don't eat that!</h3>
      	<span>{{error}}</span>
        <button class="button button-full button-positive" ng-click="closeModal()">Close Modal</button>
      </ion-content>
    </div>
  </ion-modal-view>
-->

<ion-modal-view class="ion-nifty-modal">
	<div class="ion-modal-content-custom md-content">
	 	<ion-content>	
			<h3>Modal Dialog</h3>
			<div>
				<p>This is a modal window. You can do the following things with it:</p>			
				<button class="button button-full button-positive" ng-click="closeModal()">Close Modal</button>
			</div>
		</ion-content>
	</div>
</ion-modal-view>