<ion-view>
	<ion-content class="company has-header">

				
	<ion-slide-box ng-if="company.images.length > 0" show-pager="false" disable-scroll="false">
		<ion-slide ng-repeat="image in company.images" class="slide">
			<button ng-if="company.images.length > 1 && $index != 0"
				ng-click="previousSlide()" class="button button-icon icon ion-ios-arrow-left"></button>	
			<div class="image" style="background-image: url('{{image.src}}');"></div>			
			<button ng-if="company.images.length > 1 && $index != company.images.length -1" 
				ng-click="nextSlide()" class="button button-icon icon ion-ios-arrow-right"></button>
		</ion-slide>
	</ion-slide-box>
	

	<button class="ion-ios-heart subscribe" ng-class="{active: company.subscribed}" ng-click="subscribe()">
	</button>

	<div class="title">
		<h2>{{company.name}}</h2>
		<div class="ratingContainer" ng-if="company.review.length > 0">
			<span class="rate">{{company.review_ratings.avg}}</span>
			<rating readonly="true" ng-model="company.review_ratings.avg" max="5"></rating>
			<span class="reviews">{{company.review.length}} reviews</span>
		</div>
		<p ng-if="company.review.length == 0">No tiene reviews</p>
		<p>{{company.category.name}}</p>
	</div>

	<div class="icons">
		<a ng-if="company.phone[0]" 
			href="tel:{{company.phone[0]}}" class="button button-icon icon ion-ios-telephone">Llamar</a>	
		<a ng-if="company.email" 
			href="mailto:{{company.email}}" class="button button-icon icon ion-ios-email">Mail</a>	
		<a ng-if="company.web" 
			href="{{company.web}}" class="button button-icon icon ion-ios-world">Website</a>	
	</div>

	<div class="info">
		<p class="description">{{company.description}}</p>

		<div ng-if="company.location" class="infoContainer">
			<button class="button button-icon icon ion-ios-location"></button>
			<p>{{company.location.zipcode}} {{company.location.address}} {{company.location.city}}, {{company.location.province}}, {{company.location.country}}</p> 
		</div>
		

		<div class="dateTable" ng-if="schedule.length > 0" >
			<button class="button button-icon icon ion-ios-clock-outline"></button>
			<div class="timetable">
				<button class="down button button-icon icon ion-ios-arrow-down" ng-click="openTimetable()"></button>
				<p ng-click="openTimetable()">
					<span class="bold">Hoy</span>
					<span>{{schedule[0].times[0]}}</span>
				</p>
				<ul>
					<li ng-repeat="data in schedule.slice(1,schedule.length)">
						<span>{{data.day}}</span>
						<div class="hours">
							<span ng-repeat="hour in data.times">{{hour}}</span>
						</div>
					</li>
				</ul>
			</div>
		</div>


		<div class="infoContainer phoneContainer" ng-if="company.phone[0]">
			<button class="button button-icon icon ion-ios-telephone" ></button>
			<div class="phoneNumbers">
				<button ng-if="company.phone.length > 1" class="down button button-icon icon ion-ios-arrow-down" 
					ng-click="openPhone()"></button>
				<p ng-click="openPhone()">{{company.phone[0]}}</p> 
				<ul ng-if="company.phone.length > 1">
					<li ng-repeat="phone in company.phone.slice(1,company.phone.length)">
						{{phone}}
					</li>
				</ul>
			</div>
		</div>
	</div>

	</ion-content>
</ion-view>