<ion-view>
  <ion-content class="padding dashboard">
    
    <hr class="positive">
    <h2>Próximos picks</h2>
    
    <div ng-if="picks.length > 0">
      <div ng-repeat="pick in picks"> 
      
        <div class="list card pick"> 

          <div class="item item-divider">
            <img src="assets/img/picker.png" alt="">
            <div class="title">
              <h3>{{ pick.company.id_service.id_name.name }}</h3>
              <p>{{ pick.initDate | date }}</p>
            </div>
          </div>

          <div class="item item-body">
            <div>
             {{ pick.company.id_company.name }}
            </div>
          </div>

        </div> 

      </div>
    </div>
    <div ng-if="picks.length <= 0">
      <p>No tienes picks activos.</p>
    </div>


  </ion-content>
</ion-view>