<ion-view>
  <ion-content class="padding dashboard has-header">

  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
    
    <hr class="green">
    <h2>Próximos picks</h2>
    
    <div ng-if="picks.length > 0"  class="list">

      <div ng-repeat="pick in picks | orderBy: 'initDate'" class="pick"> 
      
            <div class="iconCat" style="background-color: {{pick.company.category.color}};">
              <img ng-src="{{ pick.company.category.icon.src}}" alt="{{ pick.company.category.icon.alt}}">
            </div>
            <div class="title">
              <h3>{{ pick.service.metadata.name }}</h3>
              <p class="date">{{ pick.initDate | formatDate}}</p>
              <p>{{ pick.company.name }}</p>
            </div>

      </div>
    </div>
    <div ng-if="picks.length <= 0">
      <p class="noPicks">No tienes picks activos.</p>
    </div>

    <hr class="orange">
    <h2>Promociones</h2>

    <div class="prepicks"> 

      <div class="item left" style="background-image: url('assets/img/promotion.jpg')"></div>

      <div class="item right" style="background-color: #a62222;">
        <div class="title">
          <h3>Corte de pelo gratis</h3>
          <p>Corte de pelo gratis con tu peinado</p>
          <p class="city">Elche</p>
        </div>
        <div class="info">
          <div class="overlay"></div>
          <img ng-src="{{ category.icon.src}}" alt="{{ category.icon.alt}}">
          <div class="text">
            <h4>Peluquería María</h4>
            <p>Miércoles 27/07</p>
          </div>
        </div>
      </div>

    </div> 
    
  </ion-content>
</ion-view>