<ion-modal-view >

    <ion-header-bar class="bar-positive" align-title="center">
        <button class="button button-icon icon ion-arrow-left-c" ng-click="closeModal()"></button>
        <h1 class="title">
            Preferencias de búsqueda
        </h1>
    </ion-header-bar>

    <ion-content class="search_preferences">

        <ion-toggle ng-model="airplaneMode" toggle-class="toggle-calm">Activar sugerencias</ion-toggle>

        <div class="list">
		  <label class="item item-input item-select">
		    <div class="input-label">
		      Ordenar por
		    </div>
		    <select ng-model="order">
		      <option value="price">Precio</option>
		      <option value="review">Valoración</option>
		    </select>
		  </label>
		</div>

    </ion-content>
</ion-modal-view>