<ion-view>
	<ion-content class="company has-header">

		<div ng-if="services.length > 0" class="services">
			<div ng-repeat="service in services | orderBy:'-avgRating'" 
				class="service item"> 

			  <div class="service_title">
			      <h2>{{ service.default.name }}</h2>
			      <p>{{ service.description}}</p>
			      <p>Duración: <span class="bold">{{service.duration}} min</span></p>		
			  </div>
				
			<div class="ratingContainer" ng-if="service.rating.length > 0">
				<span class="rate">{{service.avgRating}}</span>
				<rating readonly="true" ng-model="service.avgRating" max="5"></rating>
				<span class="reviews">{{service.rating.length}} reviews</span>
			</div>

			<p class="ratingContainer" ng-if="service.rating.length == 0">No tiene reviews</p>

		    <span class="price">{{ service.price | currency : ""}} €</span>
		    <div class="pick ion-android-add" ng-click="newPick(company._id, service._id)"></div>

			</div>
		</div>

		<div ng-if="services.length <= 0">
			<p>No hay servicios</p>
		</div>
	</ion-content>
</ion-view>