<ion-side-menus>
	<ion-side-menu-content>

		<ion-nav-bar class="bar-positive " align-title="center">

			<ion-nav-buttons side="left">
				<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
			</ion-nav-buttons>

			<ion-nav-buttons side="right">
				<button class="button button-icon icon ion-ios-search-strong"  ui-sref="app.companies"></button>
			</ion-nav-buttons>

			<ion-tabs class="tabs-icon-top tabs-positive">
 
				 <ion-tab title="Dashboard" icon="icon ion-clock" href="app.dashboard">
				 	<ion-nav-view name="tab-dashboard">
				 	</ion-nav-view>
				 </ion-tab>
				 
				 
				 <ion-tab title="Categorias" icon="icon ion-network"  ui-sref="app.categories">
				 	<ion-nav-view name="tab-categories">
				 	</ion-nav-view>
				 </ion-tab>
				 
				 
				 <!-- Account Tab -->
				 <ion-tab title="Sugerencias" icon="icon ion-ios-lightbulb"  ui-sref="app.prepicks">
				 	<ion-nav-view name="tab-prepicks"></ion-nav-view>
				 </ion-tab>

				<ion-tab title="NewPick" hidden="true">
		          <ion-nav-view name="newPick"></ion-nav-view>
		        </ion-tab>

		        <ion-tab title="Companies" hidden="true">
		          <ion-nav-view name="companies"></ion-nav-view>
		        </ion-tab>		  

		        <ion-tab title="Profile" hidden="true">
		          <ion-nav-view name="profile"></ion-nav-view>
		        </ion-tab>		  


			</ion-tabs>
			
		</ion-nav-bar>

	</ion-side-menu-content>

	<ion-side-menu side="left" id="menu">

		<div class="row cabecera">
	  		<div class="col"> 
	  			<a nav-clear menu-close ui-sref="app.dashboard">
	  				<img src="assets/img/picker.png" id="logo" class="mt20"><br>
	  			</a>
	  			Pick your day
	  		</div>
		</div>
		<a nav-clear menu-close ui-sref="app.dashboard" class="item item-icon-left pointer">
			<i class="icon ion-calendar"></i>Dashboard
		</a>
		<a nav-clear menu-close ui-sref="app.profile" class="item item-icon-left pointer">
			<i class="icon ion-person"></i>Profile
		</a>
		<a nav-clear menu-close ng-click="goCompanies()" class="item item-icon-left pointer">
			<i class="icon ion-pie-graph"></i>Companies
		</a>
		<a nav-clear menu-close ng-click="logout()" class="item item-icon-left pointer">
			<i class="icon ion-log-out"></i>Cerrar Sesión
		</a>
	</ion-side-menu>

</ion-side-menus>