<ion-view>
  <ion-content class="profile has-header">
    

    <img ng-if="image" src="{{image}}"/>
    <div class="image ion-person" ng-if="!image"></div>
 
    <p ng-if="user.email">{{user.email}}</p>
    
    <h3>Tus datos:</h3>
    <form action="">
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Nombre</span>
            <input type="text" placeholder="John" ng-model="user.name">
          </label>
        </div>
        <ion-list class="gender">
          <ion-radio ng-model="user.gender" ng-value="'male'">Hombre</ion-radio>
          <ion-radio ng-model="user.gender" ng-value="'female'">Mujer</ion-radio>
        </ion-list>

         <button type="submit" class="button button-block button-positive">Guardar</button>
    </form>

  </ion-content>
</ion-view>