.login{
	background-image: url("../assets/img/login.jpg");
	background-size: cover;
    background-position: bottom center;
    height: 100%;
    color: #fff;

    .scroll-content{

	    .scroll{
    		flex: 1;
    		height: 100%;

    		.slider{
    			height: 100%;

    			.box{
    				height: 100%;					
					padding: 0 10px;
					display: flex;
					align-items: center;

					.container{
						flex: 1;

						p{
							text-align: center;
							span{
								text-decoration: underline;
							}
						}

						.loginWith{
							margin-top: 20px;
							font-weight: 300;
							text-align: center;

							img{
								width: 50px;
								display: inline-block;
							}
						}
					}
    			}
    		}
	    }
    }

    form{

    	button{
			border-color: transparent !important;
			border: 2px solid transparent;
			border-radius: 5px;
			background-color: rgba(5,59,52, 0.8) !important;
		}
    }

    .overlay{
		height: 100%;
		width: 100%;
		background-color: rgba(5,85,74,0.9);
	}

}

.cabecera{
	width: 100%;

	.col{
		text-align: center;

		img{
			width: 30%;
		}
	}
}

.dashboard{

	hr{
		width: 20%;
	    height: 2px;
	    border: 0;
	}

	h2{
		font-size: 24px;
		text-align: center;
		padding: 0;
		margin: 0;
	}

	p{
		text-align: center;
	}

	.list.card.pick{

		.item-divider{
			display: flex;
			align-items: center;
    		justify-content: flex-start;

			img{
				width: 35px;
    			margin-right: 20px;
			}
		}

		p{
			text-align: left;
		}
	}


}

.positive{
	background-color: $positive;
}

.ion-nifty-modal{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 250px !important;
	width: 90%;
	color: #fff;
	margin: auto;

	p{
		margin: 20px 0;
		font-size: 20px;
		text-align: center;
	}

	.scroll{
		height: 100%;
	    display: flex;
	    flex-direction: column;
	    justify-content: space-between;
	    -webkit-user-select: none;
	}
}