<ion-modal-view>

    <ion-header-bar class="bar-positive" align-title="center">
        <button class="button button-icon icon ion-arrow-left-c" ng-click="closeModal()"></button>
        <h1 class="title">
            Detalle de pick
        </h1>
    </ion-header-bar>

    <ion-content class="pickDetail">
        
      <h3>{{ currentPick.service.metadata.name }}</h3>
      <span class="price">{{currentPick.service.price}} €</span>
      <p ng-if="currentPick.service.description != ''">{{currentPick.service.description}}</p>
      <p class="date">{{ currentPick.initDate | formatDate}}</p>
      <p class="date">{{ currentPick.initDate | date:'dd-MM-yyyy HH:mm'}}</p>
      <p>{{ currentPick.company.name }}</p>
      <p>Duración: <strong>{{currentPick.service.duration}} min</strong></p>
      
      <div class="icons">
        <a ng-if="currentPick.company.phone[0]" 
          href="tel:{{currentPick.company.phone[0]}}" class="button button-icon icon ion-ios-telephone">
          {{currentPick.company.phone[0]}}
          </a>
        <a ng-if="currentPick.company.email" 
          href="mailto:{{currentPick.company.email}}" class="button button-icon icon ion-ios-email">
          {{currentPick.company.email}}
          </a>  
        <a ng-if="currentPick.company.web" 
          href="{{currentPick.company.web}}" class="button button-icon icon ion-ios-world">
          {{currentPick.company.web}}
          </a>  
      </div>

      <a ng-if="currentPick.company.location && currentPick.company.location.geolocation" 
          href="https://www.google.com/maps/place/@{{currentPick.company.location.geolocation.latitude}},{{currentPick.company.location.geolocation.longitude}},15z/{{currentPick.company.location.geolocation.latitude}},{{currentPick.company.location.geolocation.longitude}}" target="_blank" class="location button button-icon icon ion-ios-location">
          ¿Cómo llegar?
      </a>

       <button class="button button-block button-positive buttonCr" ng-click="showConfirm(currentPick._id)">Cancelar Pick</button>

    </ion-content>
</ion-modal-view>