<ion-view>
  <ion-content class="companies has-header">
  
  <hr class="green">
  <h2>Compañías</h2>

  <div ng-if="companies.length > 0" class="list companies-list">

    <div ng-repeat="company in companies" class="item" ng-click="goDetail(company._id)"> 
          
          <div class="image">
            <div class="iconCat" style="background-color: {{company.category.color}};">
               <img ng-src="{{company.category.icon.src}}" alt="{{ company.category.icon.alt }}">
            </div>
          </div>

          <div class="text">
            <h3>{{ company.name }}</h3>
            <p>{{ company.description}}</p>
          </div>

    </div> 

  </div>

  <div class="no-data" ng-if="companies.length <= 0">
    <p>{{msg}}</p>
  </div>

  </ion-content>
</ion-view>
