<div class="date-on-scroll">
	<h2 class="date"></h2>
</div>

<ion-view>
  <ion-content class="newPick has-header" on-scroll="getScrollPosition()">
	
	<h2>Nuevo pick</h2>

	<div class="datos">
		<p><span class="strong">Compañía:</span> {{company.name}}</p>
		<p><span class="strong">Servicio:</span> {{service.name | service.id_name.name}}</p>   
		<div class="price_container">
		    <span class="price" ng-class="{oldPrice: service.promotion}">
		    	{{ service.price | currency : ""}} €
		    </span>
		   	<span ng-if="service.promotion" class="price newPrice">{{ service.priceDiscounted | currency : ""}} €</span>
		</div>

	</div>

	<div class="viewMode">
		<button
          class="button ion-ios-arrow-left"
          mwl-date-modifier
          date="viewDate"
          decrement="calendarView">
          
        </button>

        <label class="button month" ng-model="calendarView" uib-btn-radio="'month'">Mes</label>

        <button
          class="button today"
          mwl-date-modifier
          date="viewDate"
          set-to-today>
          Hoy
        </button>
        
        <label class="button day" ng-model="calendarView" uib-btn-radio="'day'">Día</label>
       
         <button
          class="button ion-ios-arrow-right"
          mwl-date-modifier
          date="viewDate"
          increment="calendarView">
        </button>
    </div>

    <h2 class="text-center">{{ calendarTitle }}</h2>

	<mwl-calendar
	    events="vm.events"
	    view="calendarView"
	    view-title="calendarTitle"
	    view-date="viewDate"
	    on-event-click="vm.eventClicked(calendarEvent)"
	    on-event-times-changed="eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
	    edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
	    delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
	    on-edit-event-click="eventEdited(calendarEvent)"
	    on-delete-event-click="eventDeleted(calendarEvent)"
	    cell-is-open="isCellOpen"
	    day-view-start="06:00"
	    day-view-end="23:00"
	    day-view-split="5"
	    cell-modifier="vm.cellModifier(calendarCell)"
	    on-timespan-click="vm.timespanClicked(calendarDate)"
	    slide-box-disabled="true"
	    on-view-change-click="vm.viewChangeClicked(calendarDate, calendarNextView)"
	    >
	</mwl-calendar>

	<script id="customMonthCell.html" type="text/ng-template">
	  <div class="cal-month-day">

	    <span
	      class="pull-right"
	      data-cal-date
	      ng-click="vm.calendarCtrl.dateClicked(day.date)"
	      ng-bind="day.label">
	    </span>

	  </div>
	</script>

  </ion-content>
</ion-view>

