<ion-view>
  <ion-content class="padding newPick">
	
	<hr class="positive">
	<h2>New pick</h2>

	<div class="datos">
		<p><span class="strong">Compañía:</span> {{company.name}}</p>
		<p><span class="strong">Servicio:</span> {{service.id_name.name}}</p>    
	</div>

	<div class="dropdown list">
	    <button class="button button-block button-assertive dropdown-toggle" data-toggle="dropdown" id="dLabel">{{ fecha }}</button>
	    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	        <datetimepicker data-ng-model="data.date"
	        				data-before-render="beforeRender($view, $dates, $leftDate, $upDate, $rightDate)"
	        				data-on-set-time="onTimeSet(newDate, oldDate)"
	                        data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle' }"></datetimepicker>
	    </ul>
	</div>

	<!--
    <div class="list">
        <ionic-datepicker date="currentDate" min="minDate" max="maxDate" callback="datePickerCallback">
		    <button class="button button-block button-assertive"> {{ currentDate | date:'MMMM/dd/yyyy' }} </button>
		</ionic-datepicker>
    </div>
	-->
    <button class="button button-block button-positive" ng-click="newPick()">Crear pick</button>


  </ion-content>
</ion-view>