<ion-view>
	<ion-pane>
	  
	  <ion-tabs class="tabs-positive tabs-icon-only">
	    <ion-tab title="Información" ui-sref="app.companiesInfo">
	      <ion-nav-view name="companies1"></ion-nav-view>
	    </ion-tab>
	    <ion-tab title="Servicios" ui-sref="app.companiesServices">
	      <ion-nav-view name="companies2"></ion-nav-view>
	    </ion-tab>
	    <ion-tab title="Valoraciones"  ui-sref="app.companiesReviews">
	      <ion-nav-view name="companies3"></ion-nav-view>
	    </ion-tab>
	  </ion-tabs>
	  
	</ion-pane>

  	<ion-content class="padding company">
  <!--
  	<div class="cabecera">
  		<hr style="background-color:{{company.category_metadata.color}};">
		<h2>{{company.name}}</h2>
		<p>{{company.description}}</p>
		<ion-slide-box ng-if="company.images.length > 0">
		  <ion-slide ng-repeat="image in company.images">
		    <img src="{{image.src}}" alt="{{image.alt}}">
		  </ion-slide>
		</ion-slide-box>
	</div>
	
	<hr class="positive">
	<h3>Servicios</h3>

	<div ng-if="services.length > 0">
		<div ng-repeat="service in services"> 

		  <div class="list card" ng-click="newPick(company, service)"> 
		    <div class="item item-divider">
		      <h4>{{ service.default.name }}</h4>
		    </div>
		    <div class="item item-body">
		      <p>{{ service.description}}</p>
		      <span class="price">{{ service.price | currency : ""}} €</span>
		    </div>

		  </div> 

		</div>
	</div>

	<div ng-if="services.length <= 0">
		<p>No hay servicios</p>
	</div>

	<a class="button icon icon-left ion-chevron-left" ui-sref="app.companies">Volver</a>
    -->
  </ion-content>
</ion-view>