<ion-view>
	<ion-content class="search_services has-tabs-top padding">
		
		<ion-list class="services" ng-if="services.length > 0">

			<div ng-repeat="service in services | orderBy:['-avgRating','promotion']"
				class="service item" ng-class="{promotion: service.promotion}">  
				<div class="service_title">
				      <h2>{{ service.services.id_name.name }}</h2>
				      <p>{{ service.services.description}}</p>
				      <p>{{ service.name}}</p>
				      <p>Duración: <span class="bold">{{service.services.duration}} min</span></p>		
				</div>
					
				<div class="ratingContainer" ng-if="service.rating.length > 0">
					<span class="rate">{{service.services.avgRating}}</span>
					<rating readonly="true" ng-model="service.avgRating" max="5"></rating>
					<span class="reviews">{{service.services.rating.length}} reviews</span>
				</div>

				<p class="ratingContainer" ng-if="service.services.rating.length == 0">No tiene reviews</p>

			    <div class="price_container">
				    <span class="price" ng-class="{oldPrice: service.promotion}">
				    	{{ service.price | currency : ""}} €
				    </span>
				   	<span ng-if="service.promotion" class="price newPrice">{{ service.priceDiscounted | currency : ""}} €</span>
				</div>
			    <div class="pick ion-android-add" ng-click="newPick(service._id, service.services._id)"></div>

			</div>

		    
		</ion-list>

		<ion-infinite-scroll
		  ng-if="moreDataCanBeLoaded()"
		  icon="ion-loading-c"
		  on-infinite="loadMoreData()">
		</ion-infinite-scroll>

		<div ng-if="services.length <= 0">
			<p class="no-data">{{msgS}}</p>
		</div>

	</ion-content>
</ion-view>
