<ion-view>
	<ion-content class="search_services has-tabs-top padding">
		
		<ion-list class="services" ng-if="services.length > 0">

			<div ng-repeat="service in services | orderBy:'-avgRating'" 
				class="service item"> 
				<div class="service_title">
				      <h2>{{ service.services.id_name.name }}</h2>
				      <p>{{ service.services.description}}</p>
				      <p>Duración: <span class="bold">{{service.services.duration}} min</span></p>		
				</div>
					
				<div class="ratingContainer" ng-if="service.rating.length > 0">
					<span class="rate">{{service.services.avgRating}}</span>
					<rating readonly="true" ng-model="service.avgRating" max="5"></rating>
					<span class="reviews">{{service.services.rating.length}} reviews</span>
				</div>

				<p class="ratingContainer" ng-if="service.services.rating.length == 0">No tiene reviews</p>

			    <span class="price">{{ service.services.price | currency : ""}} €</span>
			    <div class="pick ion-android-add" ng-click="newPick(service._id, service.services._id)"></div>

			</div>

		    
		</ion-list>

		<ion-infinite-scroll
		  ng-if="moreDataCanBeLoaded()"
		  icon="ion-loading-c"
		  on-infinite="loadMoreData()">
		</ion-infinite-scroll>

		<div ng-if="services.length <= 0">
			<p>No hay resultados.</p>
		</div>

	</ion-content>
</ion-view>
